<div class="card">
    <div class="card-body">
        <h2>Extrato de Despesas</h2>
        <h5 class="expense-balance"></h5>

        <div class="container expense-filter mt-4">
            <h4 class="mb-4">Filtrar Despesas</h4>

            <form onsubmit="filterExpenses(event)">
                <div class="form-group row">
                    <label for="startDate" class="col-sm-2 col-form-label">Filtrar de:</label>
                    <div class="col-sm-4">
                        <input type="date" class="form-control" id="startDateExpense" required>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="endDate" class="col-sm-2 col-form-label">Até:</label>
                    <div class="col-sm-4">
                        <input type="date" class="form-control" id="endDateExpense" required>
                    </div>
                </div>

                <button type="submit" class="btn btn-primary">Filtrar Receitas</button>
            </form>
        </div>

        <hr>

        <ol class="my-timeline-expense" style="display: none"></ol>

        <div class="no-result-expense-extract" style="display: none">
            <p>Ainda não existem movimentações para serem exibidas!</p>
        </div>

        <nav aria-label="Page navigation example" class="my-pagination-expense-extract" style="display: none;"></nav>

    </div>
</div>